[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/minimal-black"]
	path = themes/minimal-black
	url = https://gitlab.com/jimchr12/hugo-minimal-black.git
[submodule "themes/qubt"]
	path = themes/qubt
	url = https://github.com/chrede88/qubt
